<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoxTracerWeb</title>
    <!--静态文件加载-->
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <link rel="icon", href="{{ url_for('static', filename='icon.svg') }}" type="image/svg">
</head>
<body>
    <h1>Welcome to VoxTracer!</h1>
    {% if uid %}
        <h2>欢迎你，用户{{ uid }}！</h2>
    {% else %}
        <h2>您暂未登录</h2>
        <a href="login.html">点击登录</a>
        <a href="register.html">点击注册</a>
    {% endif %}
    
    <!--音频上传-->
    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" name="audio_input">
        <button type="button" id="upload-button">点击上传音频</button>
    </form>

    <!--音频转换-->
    <button type="button" id="convert-button" style="display: none;">点击转换音频</button>

    <!--模拟音频压缩-->
    <button type="button" id="compress-button" style="display: none;">点击模拟压缩</button>

    <!--验证说话人身份-->
    <button type="button" id="identify-button" style="display: none;">点击溯源身份</button>

    <div id="message"></div>
    <div id="tracing-result"></div>
    <a id="download-link" target="_blank" style="display: none;">若没有自动下载，请点击此处以手动下载处理后的音频</a>
    <p>More contents remain to be added...</p>

    <script>
        function ShowInfo(response) {
            document.getElementById('message').innerText = response.message;
            if (response.speaker_id) {
                document.getElementById('tracing-result').innerText = response.speaker_id;
            }
        };

        function ShowAnchor(element) {
            document.getElementById(element).style.display = 'block';
        }

        function StartDownload(response) {
            var DownloadLink = document.getElementById('download-link');
            DownloadLink.href = response.file_url;
            DownloadLink.style.display = 'block';
            DownloadLink.download = '';
            DownloadLink.click();
        }

        // ajax异步处理表单
        $(document).ready(function() {
            $('#upload-button').on('click', function(event) {
                var UploadFormData = new FormData($('#upload-form')[0]);
                $.ajax({
                    type: 'POST',
                    url: '/upload',
                    data: UploadFormData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        ShowInfo(response);
                        ShowAnchor('convert-button');
                    },
                    error: function() {
                        ShowInfo(response);
                    }
                });
            });

            $('#convert-button').on('click', function(event) {
                $.ajax({
                    type: 'GET',
                    url: '/convert',
                    success: function(response) {
                        StartDownload(response);
                        ShowInfo(response);
                        ShowAnchor('compress-button');
                    },
                    error: function() {
                        ShowInfo(response);
                    }
                });
            });

            $('#compress-button').on('click', function(event) {
                $.ajax({
                    type: 'GET',
                    url: '/compress',
                    success: function(response) {
                        StartDownload(response);
                        ShowInfo(response);
                        ShowAnchor('identify-button');
                    },
                    error: function() {
                        ShowInfo(response);
                    }
                });
            });

            $('#identify-button').on('click', function(event) {
                $.ajax({
                    type: 'GET',
                    url: '/identify',
                    success: function(respnose) {
                        ShowInfo(respnose);
                    },
                    error: function() {
                        ShowInfo(respnose);
                    }
                });
            });
        });
    </script>
</body>
</html>